name: Check PR
on:
  pull_request:
    branches:
      - main

permissions: {}

jobs:
  shellcheck:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      pull-requests: write
    steps:
      - name: checkout
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
      - name: shellcheck
        uses: reviewdog/action-shellcheck@4c07458293ac342d477251099501a718ae5ef86e # v1.32.0
        with:
          reporter: github-pr-review
          pattern: main.sh
          fail_on_error: true
          github_token: ${{ secrets.GITHUB_TOKEN }}

  committed:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      pull-requests: write
    if: |
      github.event_name == 'pull_request'
    steps:
      - name: checkout
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
        with:
          fetch-depth: 0
      - name: committed
        uses: crate-ci/committed@bb02f309663f9baced8dbd5fdd80c6369ddf3efd # v1.1.8
        with:
          args: --no-merge-commit

  typos:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      pull-requests: write
    steps:
      - name: checkout
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
      - name: typos
        uses: crate-ci/typos@626c4bedb751ce0b7f03262ca97ddda9a076ae1c # v1.39.2

  dispatch:
    needs:
      - shellcheck
      - committed
      - typos
    permissions:
      contents: write
      pull-requests: write
    if: |
      success() &&
      github.event_name == 'pull_request' &&
      github.actor == 'dependabot[bot]'
    runs-on: ubuntu-latest
    name: dispatch
    steps:
      - name: dispatch
        uses: quotidian-ennui/actions-olio/pr-trigger@main
        with:
          event_type: check-pr-success
