name: Check PR
on:
  pull_request:
    branches:
      - main

permissions: {}

jobs:
  shellcheck:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      pull-requests: write
    steps:
      - name: checkout
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
        with:
          persist-credentials: false
      - name: shellcheck
        uses: reviewdog/action-shellcheck@4c07458293ac342d477251099501a718ae5ef86e # v1.32.0
        with:
          reporter: github-pr-review
          pattern: main.sh
          fail_on_error: true
          github_token: ${{ secrets.GITHUB_TOKEN }}

  typos:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      pull-requests: write
    steps:
      - name: checkout
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
        with:
          persist-credentials: false
      - name: typos
        uses: crate-ci/typos@2d0ce569feab1f8752f1dde43cc2f2aa53236e06 # v1.40.0

  dispatch:
    needs:
      - shellcheck
      - typos
    permissions:
      contents: write
      pull-requests: write
    if: |
      success() &&
      github.event_name == 'pull_request' &&
      github.actor == 'dependabot[bot]'
    runs-on: ubuntu-latest
    name: dispatch
    steps:
      - name: dispatch
        uses: quotidian-ennui/actions-olio/pr-trigger@main
        with:
          event_type: check-pr-success
