name: dependabot-pr
run-name: Assess Dependabot PR (${{ github.event.client_payload.detail.pull_request }})
on:
  repository_dispatch:
    types:
      - check-pr-success

permissions: {}

jobs:
  actions_merge:
    runs-on: ubuntu-latest
    name: Dependabot Merge (action changes)
    permissions:
      contents: write
    if: |
      github.event.client_payload.detail.pull_request != ''
    steps:
      - name: Checkout branch
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
        with:
          ref: ${{ github.event.client_payload.base.ref }}
      - name: "Create Token"
        uses: actions/create-github-app-token@67018539274d69449ef7c02e8e71183d1719ab42 # v2.1.4
        id: app-token
        with:
          app-id: ${{ vars.WORKFLOW_UPDATE_APP_ID }}
          private-key: ${{ secrets.WORKFLOW_UPDATE_KEY }}
          owner: ${{ github.repository_owner }}
          repositories: "${{ github.event.repository.name}}"
      - name: Dependabot Merge
        id: dependabot_merge
        uses: quotidian-ennui/actions-olio/dependabot-merge@main
        with:
          token: ${{ steps.app-token.outputs.token }}
          change_filter: ".github/workflows/**"
